---
layout: default.njk
title: Post
---

<section class="grid grid-cols-3">
  <article
    class="col-span-3 md:col-start-2 md:col-span-1">
    {# {{ page.date | postDate }} #}
    {{ content | safe }}
  </article>
</section>
