---
layout: default.njk
title: Post
---

<section class="grid grid-cols-3">
  <article class="prose prose-lg col-span-3 md:col-start-2 md:col-span-1 py-10">
    {{ content | safe }}
    <p class="text-sm text-right mt-10">Egor Konovalov. {{ page.date | postDate }}</p>
  </article>
</section>
