---
layout: default.njk
title: About me
eleventyNavigation:
  key: About
  order: 1
---

<section class="font-body all-in-center">
  <div class="flex flex-col gap-5">
    <h1 class="text-5xl font-display">Hi</h1>
    <p>My name is Egor, I a web-developer and a designer.
    </p>
  </div>
</section>
