---
layout: default.njk
title: Flycatcher blog
---

<section class="all-in-center font-display">
  <div class="h-fit flex">
    <div class="flex flex-col justify-center gap-4">
      <h1 class="text-5xl">
        {{ title }}
      </h1>
      {% include "navigation.njk" %}
    </div>
    <img src="./assets/images/logo.webp"/>
  </div>
</section>
